<main>
    <div class="classroom-name p-4 p-md-5">
        <div class="d-block col-md-6 px-0 pt-4">
            <h3 class="classroom-title display-4 ">Programacion</h3>
            <p class="led my-2">Gustavo Gutierrez</p>
        </div>
    </div>

    <section class="classroom-wall col-md-5 d-flex flex-column p-md-5  container ">

        <div class="classblock classroom-comment d-flex justify-around">
            <div class="classroom-img-student">
                <img src="" alt="">
            </div>
            <div class="classroom-text">
                <input  type="text" placeholder="Escribir algo para la clase">
            </div>
        </div>

        <div class="classblock classroom-feed d-flex flex-column">
            <div class="classroom-student-profile-comment">
                <div class="classroom-student-profile-img">
                    <img src="" alt=""></div>
                <div>
                    <h3></h3>
                    <span>
                    </span>
                </div>
            </div>

            <div class="classroom-comment ">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit.</p>
            </div>

            <div class="classroom-new-comment d-flex flex-row justify-content-between">
                <div class="classroom-img-student">
                    <img src="" alt="">
                </div>
                <div class="classroom-text">
                    <input type="text" placeholder="Añadir comentario...">
                </div>
                
            </div>
        </div>

    </section>
</main>   
