@import "./assets/theme/colors.scss";

@import "../node_modules/bootstrap/scss/bootstrap";

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #e8eff5;
}

