<app-menu-opciones></app-menu-opciones>
<main>
    <div class="banner d-flex justify-content-start align-items-end">
            <div class="col- flex-wrap px-3 py-1">
                <h3>Programacion</h3>
            
                <h5>Gustavo Gutierrez</h5>
            </div>
     </div>
    <section class="muroContenedor d-flex mx-auto justify-content-center">
       <div class="col-md-8">
        <div class="tarjetaComentario align-items-center">
            <div class="circulo">
                <img  src="./../../../../assets/img/profesor1.jfif" alt="">
            </div> 
          
                <input class="" type="text" placeholder="Escribe algo a la clase">   
        </div>

        <div class="feed">
       <div class="tarjeta col  align-items-center">
            <div class=" tarjetaTitulo row">
                <div class="circulo">
                    <img  src="./../../../../assets/img/profesor1.jfif" alt="">
                </div> 
               <div class ="col p-0">
                <h5 class="nombreUsuario" >Conde Fulanito</h5>
                <span class="date">
                    4 de febrero 2022
                </span>
                <a href class="activarComentario aling-item-end" width ="16" height="16">
                    <i class="bi bi-chat-left-text" style="font-size: 1.5rem;"></i></a>
               </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae 
                harum praesentium fugiat, provident atque quos? Nam veniam explicabo 
                facere iure!
            </p>
                 <hr>  
        </div>

        <div class="tarjeta col  align-items-center">
            <div class="tarjetaTitulo row">
                <div class="circulo">
                    <img  src="./../../../../assets/img/profesor1.jfif" alt="">
                </div> 
               <div class ="col p-0">
                <h5 class="nombreUsuario">Conde Fulanito</h5>
                <span class="date">
                    4 de febrero 2023
                </span>
                  
               </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae 
                harum praesentium fugiat, provident atque quos? Nam veniam explicabo 
                facere iure!
            </p>
                   
        </div>
        <div class="tarjetaComentario align-items-center  mt-0">
            <div class="circulo">
                <img  src="./../../../../assets/img/profesor1.jfif" alt="">
            </div> 
          
                <input class="" type="text" placeholder="Deja tu comentario">   
        </div>
    </div>
     </div>
    </section>
</main>

<app-boton-chat></app-boton-chat>
   
   

   
