main{
<<<<<<< HEAD:client/src/app/class-room/class-room.component.scss
    margin-top: 10vh;
    height: 61vh;

}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
=======
    top: 10vh
}
>>>>>>> 5b6fa3be2d4907a3989f10f592fb61c5bd0422c2:client/src/app/protected/classroom/classroom.component.scss
