<div class="menu-desktop">
  <nav class="navbar navbar-expand-lg bg-body-secondary shadow">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="#"
        ><img
          class="mx-auto"
          src="assets/img/Logo.png"
          alt="Logo"
          width="102"
          height="24"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul
          class="navbar-nav me-5 mb-2 mb-lg-0 nav-pills justify-content-end flex-grow-1"
        >
          <li class="nav-item mx-4">
            <a
              class="nav-link text-center text-primary"
              routerLink="/inicio"
              routerLinkActive="active"
              ><b>Inicio</b></a
            >
          </li>
          <li class="nav-item mx-4 px-auto">
            <a
              class="nav-link text-center text-primary"
              routerLink="/nosotros"
              routerLinkActive="active"
              ><b>Nosotros</b></a
            >
          </li>
          <li class="nav-item mx-4" *ngIf="isLogged">
            <a
              class="nav-link text-primary text-center"
              routerLink="/dashboard/classroom"
              routerLinkActive="active"
              ><b>Classroom</b></a
            >
          </li>
        </ul>
        <span class="navbar-text">
          <div class="btn-group">
            <a
              type="button"
              class="dropdown-toggle me-3"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false"
            >
              <i
                class="bi bi-person-circle text-primary"
                style="font-size: 2rem"
              ></i>
            </a>
            <ul *ngIf="!isLogged"
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
              style="width: 244px"
            >
              <li class="border-bottom">
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/auth/register"
                  ><small>Registrarse</small
                  ><i class="bi bi-person float-end"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/auth/login"
                  ><small>Iniciar sesión</small
                  ><i class="bi bi-box-arrow-in-right float-end"></i
                ></a>
              </li>
            </ul>

            <ul *ngIf="isLogged"
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
              style="width: 244px"
            >
              <li class="border-bottom">
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/dashboard/perfil"
                  ><small>Perfil</small
                  ><i class="bi bi-person float-end"></i
                ></a>
              </li>
              <li class="border-bottom">
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/dashboard/classroom"
                  ><small>Notificaciones</small
                  ><i class="bi bi-2-circle-fill float-end"></i
                ></a>
              </li>
              <li class="salir">
                <a
                  class="dropdown-item text-primary text-center"
                  (click)="logout()"
                  ><small>Cerrar sesión</small
                  ><i class="bi bi-box-arrow-right float-end"></i
                ></a>
              </li>
            </ul>

          </div>
        </span>
      </div>
    </div>
  </nav>
</div>

<div class="menu-mobile">
  <nav class="navbar bg-body-secondary fixed-top shadow">
    <div class="container-fluid">
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar1"
        aria-controls="offcanvasNavbar1"
      >
        <i class="bi bi-list text-primary" style="font-size: 2rem"></i>
      </button>

      <a class="navbar-brand mx-auto" href="#"
        ><img
          class="mx-auto"
          src="assets/img/Logo.png"
          alt="Logo"
          width="102"
          height="24"
      /></a>

      <div class="btn-group">
        <a
          type="button"
          class="dropdown-toggle me-2"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <i
            class="bi bi-person-circle text-primary"
            style="font-size: 2rem"
          ></i>
        </a>
        <ul *ngIf="!isLogged"
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
          style="width: 244px"
        >
          <li class="border-bottom">
            <a
              class="dropdown-item text-primary text-center"
              routerLink="/auth/register"
              ><small>Registrarse</small><i class="bi bi-person float-end"></i
            ></a>
          </li>
          <li>
            <a
              class="dropdown-item text-primary text-center"
              routerLink="/auth/login"
              ><small>Iniciar sesión</small
              ><i class="bi bi-box-arrow-in-right float-end"></i
            ></a>
          </li>
        </ul>

        <ul *ngIf="isLogged"
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
              style="width: 244px"
            >
              <li class="border-bottom">
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/dashboard/perfil"
                  ><small>Perfil</small
                  ><i class="bi bi-person float-end"></i
                ></a>
              </li>
              <li class="border-bottom">
                <a
                  class="dropdown-item text-primary text-center"
                  routerLink="/dashboard/classroom"
                  ><small>Notificaciones</small
                  ><i class="bi bi-2-circle-fill float-end"></i
                ></a>
              </li>
              <li class="salir">
                <a
                  class="dropdown-item text-primary text-center"
                  (click)="logout()"
                  ><small>Cerrar sesión</small
                  ><i class="bi bi-box-arrow-right float-end"></i
                ></a>
              </li>
            </ul>
      </div>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar1"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header bg-secondary">
          <button
            type="button"
            class="btn-close text-primary"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body bg-body-secondary">
          <ul class="navbar-nav nav-pills justify-content-end flex-grow-1">
            <li class="nav-item" *ngIf="isLogged">
              <a
                class="nav-link ps-3 text-primary"
                data-bs-dismiss="offcanvas"
                routerLink="/dashboard/classroom"
                routerLinkActive="active"
                >Classroom</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ps-3 text-primary"
                data-bs-dismiss="offcanvas"
                routerLink="/inicio"
                routerLinkActive="active"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ps-3 text-primary"
                data-bs-dismiss="offcanvas"
                routerLink="/nosotros"
                routerLinkActive="active"
                >Nosotros</a
              >
            </li>
            <li class="nav-item text-center logo-menu">
              <img
                src="assets/img/Logo.png"
                width="108px"
                class="img-fluid"
                alt="Logo"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
