.logo-menu{
    margin-top: 400px;
}

.offcanvas{
    max-width: 176px;
}

.nav-link.active{
    color:white !important;
}

.navbar-toggler:focus{
    border-color: transparent !important;
    box-shadow:  0px 0px transparent inset, 0px 0px 8px transparent !important;
}

.dropdown-toggle::after {
    display:none;
}

.menu-mobile{
    display:none;
}

.menu-desktop{
    display: block;
}

.salir{
    cursor: pointer;
}

@media (max-width: 576px) {
    
    
    .menu-mobile{
        display:block;
    }

    .menu-desktop{
        display: none;
    }


 }