<app-navbar></app-navbar>
<div class="container">

    <section>
        
            <img class="img-fluid mx-auto d-block mb-4" src="assets/img/—Pngtree—e-learning streaming online concept_6591491 1.png" alt="Estudio">

            <h3 class="parrafo"><b>Tu espacio de enseñanza y aprendizaje.</b></h3>

            <p class="text-primary textmayor">Vive la experiencia de trabajar junto a tu grupo en tiempo real.</p>

            <div class="d-grid gap-2 mb-2">
                
                <a type="button" routerLink="/auth/register" class="btn btn-primary">Registrarse gratis</a>
            
            </div>
    
    </section>

    <section>

        <img class="img-fluid mx-auto d-block mb-4" src="assets/img/pngwing 1.png" alt="Estudio">

        <p class="text-primary text-center textmayor">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-primary text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, impedit illum. Est quisquam doloribus incidunt qui amet vel deleniti temporibus cumque omnis consequatur eius eum similique aperiam ullam, ipsum consectetur.</p>

    </section>

    <section>

        <img class="img-fluid mx-auto d-block mb-4" src="assets/img/pngwing 2.png" alt="Estudio">

        <p class="text-primary text-center textmayor">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="text-primary text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, impedit illum. Est quisquam doloribus incidunt qui amet vel deleniti temporibus cumque omnis consequatur eius eum similique aperiam ullam, ipsum consectetur.</p>

    </section>

</div>
