<div class="container-sm d-flex flex-column">
    <div class="position-absolute end-50">
        <img src="../../../assets/logo/Logo 1.png" alt="" style="margin-left: 50%; margin-top: 15px;">
    </div>
    <div class="container-sm " style="margin-top: 150px;" >
        <form>
            <div class="row align-items-start">
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">Nombre</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">Apellidos</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
                </div>
                </div>
                <div class="row align-items-start mt-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">E-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
                    </div>

                </div>

                <div class="row align-items-start mt-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">Contraseña</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">Repetir contraseña</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
                    </div>
                    </div>
                    <div class="row align-items-center " style="margin-top: 50px;">
                        <div class="col">
                            <button class="btn" style="color: #ffff; background-color: #18619B; width: 100%;">Crear cuenta</button>
                        </div>
                    </div>
          </form>
    </div>

</div>

