<div class="container-sm d-flex flex-column">
    <img src="assets/img/Logo.png" class="img-fluid mx-auto" alt="logo" width="230px">
    <div class="container-sm mt-5">
        <form>
            <div class="row align-items-start">
                <div class="col mb-3 lnombre">
                    <label for="nombre" class="form-label text-primary ">Nombre</label>
                    <input type="text" 
                    class="form-control bg-transparent py-3 ps-3"
                    style="border-color: #18619B;">
                </div>
                <div class="col mb-3 lnombre">
                    <label for="apellidos" class="form-label" style="color: #18619B;">Apellidos</label>
                    <input type="text" 
                    class="form-control bg-transparent py-3 ps-3" 
                    style="border-color: #18619B;">
                </div>
                </div>
                <div class="row align-items-start mt-4">
                    <div class="col mb-3 lnombre">
                        <label for="exampleInputEmail1" class="form-label text-primary" style="color: #18619B;">E-mail</label>
                    <input type="email" 
                    class="form-control bg-transparent py-3 ps-3" 
                    style="border-color: #18619B;">
                    </div>

                </div>

                <div class="row align-items-start mt-4">
                    <div class="col mb-3 lnombre">
                        <label for="exampleInputEmail1" class="form-label text-primary" style="color: #18619B;">Contraseña</label>
                        <input type="email" 
                        class="form-control bg-transparent py-3 ps-3" 
                        style="border-color: #18619B;">
                    </div>
                    <div class="col lnombre">
                        <label for="exampleInputEmail1" class="form-label text-primary" style="color: #18619B;">Repetir contraseña</label>
                        <input type="email" 
                        class="form-control bg-transparent py-3 ps-3" 
                        style="border-color: #18619B;">
                    </div>
                    </div>
                    <div class="row align-items-center " style="margin-top: 50px;">
                        <div class="col">
                            <button type="submit" class="btn" style="color: #ffff; background-color: #18619B; width: 100%;">Crear cuenta</button>
                        </div>
                    </div>
          </form>
    </div>

</div>

