<div class="container contenedor">
<div class="left float-start"><a href="#"><i class="bi bi-arrow-left text-primary" style="font-size: 2rem"></i></a></div>
<div class="center"><h1 class="text-primary">Mensajes</h1></div>
<div class="right float-end"><i class="bi bi-arrow-right" style="font-size: 2rem"></i></div>
</div>
<br>
<div class="container mb-5">
    <h3 class="text-primary">Miembros</h3>
    <br>
    <div class= "horizontal-scrollable">
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
            <div class="userP">
            <img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario">
            <p class="text-primary">Usuario</p>
            </div>
    </div>

    <div class="row mx-auto">
        <div class="col-12 chatDiv bg-white rounded shadow">
        </div>
        <div class="col-12 bg-white shadow mt-1 msgEnvio">
            <input type="text" class="form-control py-3 text-primary" placeholder="Escribe algo...">
            <div  class="icon-chat">
                <a href=""><i class="bi bi-ear ms-2" style="font-size: 2rem"></i></a>
                <a href=""><i class="bi bi-caret-right ms-2" style="font-size: 2rem"></i></a>
            </div>
            
        </div>
    </div>
    
    


</div>