<div class="container">
    <div class="usuarioimg">
        <img src="../../../../assets/img/gera.png" alt="usuario" class="imgusuario .translate-middle">
    </div>
    <div class="usuariodatos">
        <p class="name-profession"><strong>Gerardo Vargas</strong><br><i>-</i></p>
    </div>
</div>

<div class="container-datos">
    <h3 class="titulos">Acerca de mi</h3>
    <div class="acerca">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Nombre Completo:</th>
                    <td>Gerardo Vargas</td>
                </tr>
                <tr>
                    <th scope="row">Ocupación:</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">Organización:</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">Ubicación:</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 class="titulos">Contacto</h3>

    <div class="contacto">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">E-mail:</th>
                    <td>lalovargaslol@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Teléfono:</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btncambios">Guardar Cambios</button>

</div>
    