<div class="container">
    <div class="usuariodatos">
    <img src="../../../../assets/img/martin.jpg" alt="usuario" class="imgusuario">

    
    <p class="titulos">Martin Romero</p>
    <p>Ing. Civil</p>
</div>
<h3 class="titulos">Acerca de mi</h3>
    <div class="acerca">
        <p>Nombre Completo: Martin Romero</p>
        <p>Ocupación    Ing. Civil</p>
        <p>Organización INVAP</p>
        <p>Ubicacion: Bs As, Argentina</p>
    </div>
    <h3 class="titulos">Contacto</h3>
 
    <div class="contacto">
        <p>E-mail  correo@gmail.com</p>
        <p>Teléfono  0303456</p>
    </div>
    <button class="btncambios">Guardar Cambios</button>
</div>