.container {
    justify-content: center;

}

.usuarioimg {
    display: flex;
    justify-content: center;
}

.usuariodatos {
    color: #18619b;
    text-align: center;
}

.imgusuario {
    width: 150px;
    border-radius: 50%;
}

.acerca {
    background-color: white;
    max-width: 328px;
    max-height: 195px;
    color: #18619b;
    font-size: 15px;

}

.name-profession{
    font-size: 20px;
}

.titulos {
    color: #18619b;
    font: 18px;
}

.contacto {
    //color de las letras
    max-width: 328px;
    max-height: 96px;
    color: #18619b;
    font: 15px;
    background-color: white;
}

.btncambios {
    background-color: #18619b;
    color: white;
    border-radius: 4px;
}