<div class="container text-center mt-5">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-primary"><b>Nuevo Classroom</b></h3>
        </div>
        <div class="col-md-6 offset-md-3 col-sm-12">
            <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="guardar()"
              >
                <div class="row align-items-start mt-4">
                    <div class="col mb-3 lnombre">
                        <label for="nombre" class="form-label text-primary ">Nombres del classroom</label>
                        <input type="text"
                        formControlName="classroom_name" 
                        class="form-control bg-transparent py-3 ps-3"
                        style="border-color: #18619B;" autofocus>
                        <span *ngIf="campoNoValido('classroom_name')" class="form-text text-danger float-start">
                            Campo obligatorio
                        </span>
                    </div>
                    
                </div>
                <div class="row align-items-start mt-4">
                    <div class="col mb-3 lnombre">
                        <label for="exampleInputEmail1" class="form-label text-primary" style="color: #18619B;">Matería</label>
                    <input type="text"
                    formControlName="category" 
                    class="form-control bg-transparent py-3 ps-3" 
                    style="border-color: #18619B;">
                    <span *ngIf="campoNoValido('category')" class="form-text text-danger float-start">
                       Campo obligatorio
                    </span>
                    </div>

                </div>

                <div class="row align-items-start mt-4">
                    <div class="col mb-3 lnombre">
                        <label for="exampleInputEmail1" class="form-label text-primary" style="color: #18619B;">Aula</label>
                    <input type="text"
                    formControlName="aula" 
                    class="form-control bg-transparent py-3 ps-3" 
                    style="border-color: #18619B;">
                    <span *ngIf="campoNoValido('aula')" class="form-text text-danger float-start">
                       Campo obligatorio 
                    </span>
                    </div>

                </div>

                
                    <div class="row align-items-center " style="margin-top: 50px;">
                        <div class="col-md-6 mb-3">
                            <button type="submit"
                            (click)="guardar()" 
                            [disabled]="miFormulario.invalid"
                            class="btn" style="color: #ffff; background-color: #18619B; width: 100%;">Aceptar</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a type="button" routerLink="/dashboard/classroom" 
                            class="btn text-primary border border-primary" style="background-color: #ffff; width: 100%;">Cancelar</a>
                        </div>
                    </div>
          </form>
        </div>

    </div>

</div>
