.row{
    margin-top: 90px;
}

.tarjeta{
    position: relative;
    width: 160px;
    height: 160px;
}

.botonFav{
    position:absolute;
    top: 5%;
    right: 5%;
    width: 20px;
}
.botonFav > i {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.botonRedondo{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid lightgrey
}

.botonRedondo > i{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    
}

.botonRedondo:hover{
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.botonImg{
    position: absolute;
    transform: translateX(-50%); 
    width:100%;
    border-radius:150px;
}
.tarjeta > p{
    position: relative;
    top:60%;
    margin: 0 auto;
    font-weight: bold;
}
.tarjeta > span{
    position: relative;
    top: 57%;
    margin: 0 auto;
}

.basura{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 150px;
    bottom: 50px;
    right: 30px;
}

.basura > i{
position: absolute;
top: 5%;
left: 50%;
transform: translateX(-50%);
} 


