<div class="row text-center mx-auto">
    <div class="col-6 col-md-2">
        <a href="" class="text-decoration-none"><div class="tarjeta bg-white rounded mx-auto">
            <div class="botonRedondo shadow">
                <i class="bi bi-plus text-primary"></i>
            </div>
            <p>Nuevo classroom</p>

        </div></a>
    </div>

    <div class="col-6 col-md-2">
        <div class="tarjeta bg-white rounded mx-auto">

        </div>
    </div>
</div>

<div class="basura bg-white border border-primary shadow">
    <i class="bi bi-trash text-primary" style="font-size: 3rem"></i>
</div>

