<app-menu-opciones></app-menu-opciones>
<div class="container">
    <h1 class="text-primary"><b>Profesores</b></h1>
    <br>
    <div class="row">
        <div class="col-3"><img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda" alt="usuario"></div>
        <div class="col-9 text-primary my-auto"><h4><b>Gustavo Gutierrez</b></h4></div>
    </div>
    <br>
    <h1 class="text-primary"><b>Miembros del classroom</b></h1>
    <br>
    <h3 style="color:grey">6 miembros</h3>
    <div>
        <li class="list-group-item">
            <div class="row border-1 mx-2 border-dark border-top border-bottom py-3">
                <div class="col-3"><img src="assets/img/user-icon.jpg" class="img-fluid imgRedonda1" alt="usuario"></div>
                <div class="col-7 text-primary my-auto"><h5><b>zzzzzzzz</b></h5></div>
                <div class="col-2 text-primary my-auto"><div class="botonOnline mx-auto"></div></div>
            </div>
        </li>
    </div>


</div>


<app-boton-chat></app-boton-chat>