<main>
    <section class=" muroContenedor d-flex justify-content-center" >
        <div class="col-md-8">
            <div class="tarjeta col align-items-center">
                <div class="tarjetaTitulo row">
                    <div class="circulo">
                        <img src="./../../../../assets/img/profesor1.jfif" alt="">
                    </div>
                    <div class="col p-0">
                        <h3 class="nombreUsuario">Gustavo Gutierrez</h3>
                        <span class ="date">5 febrero 2023</span>
                        <a href class="activarComentario aling-item-end">
                            <i class="bi bi-chat-left-text" style="font-size: 1.5rem;"></i>
                        </a>
                    </div>
                </div>
                <h5>Trabajo ejemplo</h5>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim 
                    quidem amet debitis est hic corrupti qui laboriosam ipsum? Voluptas.
                </p>


            </div>
        </div>
    </section>
</main>