<app-navbar></app-navbar>
<div class="container">

    <section>

        <p class="text-center text-primary textmayor"><b>Nuestra misión</b></p>

        <img src="assets/img/pngwing 3.png" class="img-fluid mx-auto d-block mb-4">

        <p class="text-primary">Queremos brindar un espacio de trabajo apto para todo público y de acuerdo a las
            necesidades de cada uno, para que de esa forma puedan desarrollar tanto su aprendizaje como enseñanza, de
            manera cómoda y donde siempre puedan estar conectados.</p>

    </section>

    <section>

        <p class="text-center text-primary textmayor"><b>¿Qué ofrecemos?</b></p>

        <br>

        <img src="assets/img/cerebro 1.png" class="img-fluid mx-auto d-block mb-4">

        <p class="text-primary text-center">Un lugar donde puedas aprender lo que quieras. ¡No hay límites en cuanto al aprendizaje y la enseñanza!. </p>

        <br>

        <img src="assets/img/ordenador 1.png" class="img-fluid mx-auto d-block mb-4">

        <p class="text-primary text-center">Chat grupal e individual para estar siempre en contacto con tu grupo sin tener que esperar.</p>

        <br>

        <img src="assets/img/clase-virtual 1.png" class="img-fluid mx-auto d-block mb-4">

        <p class="text-primary text-center">Visualizar la información relevante de manera simple y organizada en tu grupo de estudio.</p>


    </section>

    <section>

        <p class="text-center text-primary textmayor"><b>Nuestro equipo <br> (S6-09-T-Angular)</b></p>

        <div class="d-flex flex-row-reverse">
            <div class="p-2 boton" (click)="moverDerecha()"><i class="bi bi-arrow-right-circle text-primary"
                    style="font-size: 2rem"></i></div>
            <div class="p-2 boton" (click)="moverIzquierda()"><i class="bi bi-arrow-left-circle text-primary "
                    style="font-size: 2rem"></i></div>
        </div>
        <div class="horizontal-scrollable">
            <div class="card rounded shadow" style="width: 200px; height: 300px;" *ngFor="let develop of developers">
                <img src="assets/developers/{{develop.img}}" class="card-img-top" alt="foto">
                <div class="card-body">
                    <p class="card-title textmayor"><b>{{develop.nombre | titlecase}}</b></p>
                    <p class="card-text" style="font-size: 12px;">{{develop.rol | titlecase}}</p>
                </div>
            </div>
        </div>
    </section>


</div>
<app-footer></app-footer>