<app-navbar></app-navbar>
<div class="container">

    <section>

        <p class="text-center text-primary textmayor"><b>Nuestra misión</b></p>

        <img src="assets/img/pngwing 3.png" class="img-fluid mx-auto d-block mb-4" alt="Imagen1">

        <p class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse et ut dignissimos magnam maiores error earum explicabo totam omnis! Beatae doloremque et blanditiis reprehenderit eaque vitae. Enim, fuga facilis?</p>


    </section>

    <section>

        <p class="text-center text-primary textmayor"><b>¿Qué ofrecemos?</b></p>

        <br>

        <img src="assets/img/cerebro 1.png" class="img-fluid mx-auto d-block mb-4" alt="Imagen1">

        <p class="text-primary text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse et ut dignissimos magnam maiores error earum explicabo totam omnis! Beatae doloremque et blanditiis reprehenderit eaque vitae. Enim, fuga facilis?</p>

        <br>

        <img src="assets/img/ordenador 1.png" class="img-fluid mx-auto d-block mb-4" alt="Imagen1">

        <p class="text-primary text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse et ut dignissimos magnam maiores error earum explicabo totam omnis! Beatae doloremque et blanditiis reprehenderit eaque vitae. Enim, fuga facilis?</p>

        <br>

        <img src="assets/img/clase-virtual 1.png" class="img-fluid mx-auto d-block mb-4" alt="Imagen1">

        <p class="text-primary text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse et ut dignissimos magnam maiores error earum explicabo totam omnis! Beatae doloremque et blanditiis reprehenderit eaque vitae. Enim, fuga facilis?</p>


    </section>

    <section>

        <p class="text-center text-primary textmayor"><b>Nuestro equipo <br> s6-09-t-angular</b></p>

        <div class="d-flex flex-row-reverse">
            <div class="p-2"><a href="#"><i class="bi bi-arrow-right-circle text-primary" style="font-size: 2rem"></i></a></div>
            <div class="p-2"><a href="#"><i class="bi bi-arrow-left-circle text-primary " style="font-size: 2rem"></i></a></div>
        </div>
    <div class="horizontal-scrollable">
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
        <div class="card rounded shadow" style="width: 200px; height: 300px;">
            <img src="assets/img/fondo-gris.png" class="card-img-top" alt="foto">
            <div class="card-body">
              <p class="card-title textmayor"><b>Lorem ipsum</b></p>
              <p class="card-text" style="font-size: 12px;">Lorem ipsum</p>
            </div>
        </div>
    </div>
    
    
    
    
    
    </section>


</div>
<app-footer></app-footer>


