<div class="d-block d-sm-none container-sm d-flex flex-column">
    <div class="position-absolute end-50">
        <img src="../../../assets/logo/Logo 1.png" alt="" style="margin-left: 50%; margin-top: 15px;">
    </div>
    <div class="container-sm" style="margin-top: 100px;" >
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color: #18619B;">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color: #18619B;">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" style="color: #18619B;">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" style="border-color: #18619B;">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1" style="color: #18619B;">Recuerdame</label>
            </div>
            <div class="text-center container-sm" >
            <button type="submit" class="btn btn-primary center-block" style="border: none; background-color: #ffff; color: #18619B; " >¿Olvidaste la contraseña?</button>
            </div>
            <div class="text-center container-sm mt-3 " >
                <button type="submit" class="btn btn-primary" style=" background-color: #18619B; width: 100%;" >Ingresar</button>
                </div>
                <div class="text-center container-sm mt-3 " >
                    <button type="submit" class="btn btn-primary" style=" background-color: #ffff; color: #18619B; width: 100%;" >Crear una Cuenta</button>
                    </div>
          </form>
    </div>

</div>
