<div class="container-sm d-flex flex-column">
    <img src="assets/img/Logo.png" class="img-fluid mx-auto" alt="logo" width="230px">
    <div class="container-sm mt-5">
        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="login">
            
            <div class="mb-3 lnombre">
              <label for="exampleInputEmail1" class="form-label text-primary">Email</label>
              <input type="email" 
              class="form-control bg-transparent py-3 ps-3" 
              formControlName="email" 
              style="border-color: #18619B;" 
              placeholder="Correo electronico">
              <span *ngIf="campoNoValido('email')" class="form-text text-danger">
                El email es obligatorio y debe tener el formato respectivo
              </span>
            </div>
            
            
            <div class="mb-3 lnombre">
              <label for="exampleInputPassword1" class="form-label text-primary">Contraseña</label>
              <input type="password" 
              class="form-control bg-transparent py-3 ps-3" 
              formControlName="password" 
              style="border-color: #18619B;">
              <span *ngIf="campoNoValido('password')" class="form-text text-danger">
                La contraseña es obligatoria
              </span>
            </div>
            
            
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1" style="color: #18619B;">Recuerdame</label>
            </div>
            
            <div class="text-center container-sm" >
            <button type="button"
                    class="btn btn-transparent center-block" 
                    style="border: none; color: #18619B;">¿Olvidaste la contraseña?</button>
            </div>
            
            <div class="text-center container-sm mt-3">
                <button type="submit" 
                class="btn btn-primary"
                (click)="login()"
                [disabled]="miFormulario.invalid"  
                style=" background-color: #18619B; width: 100%;" >Ingresar</button>
            </div>
                
            <div class="text-center container-sm mt-3 " >
                    <a routerLink="/auth/register" type="button" class="btn btn-primary" style=" background-color: #ffff; color: #18619B; width: 100%;" >Crear una Cuenta</a>
            </div>
          </form>
    </div>

</div>




