<main>
    <div class="classroom-professors">
        <div class="classroom-professor-detail">
            <div class="classroom-professor-img"></div>
            <h3></h3>
        </div>
    </div>

    <div class="classroom-members">
        <h3></h3>
        <span></span>
        <div class="classroom-img-student">
            <img src="" alt="" srcset="">
        </div>
        <div class="classroom-student-info">
            <input type="text" placeholder="Escribir algo para la clase">
        </div>
    </div>
</main>